body {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

header {
    text-align: center;
    line-height: 1.2;
    padding: 1em 0;
}

header img {
    min-width: 40px;
    max-width: 80px;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 20px;
}

/* Left Column */
aside img {
    min-width: 40px;
    max-width: 75px;
    width: 100%;
    margin-bottom: .25em;
}

/* Right Column */
.featured-title {
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    padding: .25em 0;
    margin: 1em 0;
}

.featured img {
    float: right;
    min-width: 100px;
    max-width: 250px;
    width: 100%;
    margin-left: 1em;
}

blockquote {
    font-style: italic;
    margin: .5em 0;
}

/* Footer */
footer {
    text-align: center;
    font-size: .9em;
    color: #444;
    margin: 1em 0;
}

/* Responsive */
@media (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
    }
}
