/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
	--gradient-color: #f6bb73;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* default styles */
body {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(0.9em + 0.2vw);
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, p, ul {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

header {
  text-align: center;
  line-height: 1.2;
  border-bottom: 3px solid #333;
  padding-bottom: 1em;
}

header img {
  min-width: 40px;
  max-width: 80px;
  width: 100%;
}

footer {
  text-align: center;
  border-top: 3px solid #333;
  margin-top: 1.5em;
  padding: 1em 0;
  font-size: 0.9em;
}

/* ========== FLEXBOX LAYOUT ========== */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

main aside {
  flex-basis: 25%;
  padding: 1em;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

main section {
  flex-basis: 75%;
  padding: 1em;
  box-sizing: border-box;
}

/* ========== FEATURED SPEAKER ========== */
.featured {
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  padding: 1em 0;
  margin-top: 1em;
}

main section img {
  float: right;
  margin-left: 1em;
  max-width: 100%;
  height: auto;
}

/* ========== IMAGE SCALING ========== */
/* Guest speaker images */
aside img {
  width: 100%;
  min-width: 40px;
  max-width: 75px;
  margin-bottom: 1em;
}

/* Featured speaker image */
.featured img {
  width: 100%;
  min-width: 100px;
  max-width: 250px;
}

/* ========== LINKS ========== */
a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
